.dayoff-approve-list-table {
    width: 100%;
    font-size: 0.8rem;
    text-align: left;
    border-collapse: collapse;
    background-color: #f3f3f3;
}

.dayoff-request-list-table {
    width: 100%;
}

.table-main-container {
    height: 83vh;
    margin-top: 20px;
}

.table-main-container.open {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

th, td {
    padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  text-transform: capitalize;
  padding-left: 10px;
}

th {
    background-color: #c7c7c7;
}

.approve-all-btn, .select-all-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    color: #f3f3f3;
    text-transform: capitalize;
}

.approve-all-btn {
    background-color: #f7f7f7;
    color: #0077b8;
    border: #0077b8 solid 0.3px;
}

.select-all-btn {
    background-color: #0077b8;
}

.select-all-btn:hover {
    background-color: #363636;
}

.approve-all-btn:hover {
    background-color: #0077b8;
    color: #fafafa;
}

.btn {
    width: 70px;
    padding: 8px 10px;
    border: none;
    border-radius: 6px;
    text-transform: capitalize;
}

.approve-btn {
    background-color: #353535;
    color: #fafafa;
}

.approve-btn:hover {
    background-color: #b1ff92;
    color: #353535;
}

.reject-btn {
    background-color: #ebebeb;
    color: #353535;
    border: #b9b9b9 solid 0.3px;
}

.reject-btn:hover {
    background-color: #ff7474;
}

.status-btn {
  background-color: #219800;
  cursor: not-allowed;
  color: #f2f2f2;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  width: 200px;
}

.status-reject-btn {
  background-color: #980000;
  cursor: not-allowed;
  color: #f2f2f2;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  width: 200px;
}

.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.page-title-btn-group {
    display: flex;
    align-items: center;
    gap: 20px;
}