
.sidebar-container {
    background-color: #484848;
    color: #dadada;
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: width 0.2s ease-out;
}

.sidebar-container.open {
    background-color: #484848;
    color: #dadada;
    width: 250px;
    padding: 12px;
    display: flex;
    flex-direction: column;  
    transition: width 0.2s ease-out;  
    overflow: scroll; 
}

.sidebar-logo-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    position: sticky;
    top: 0;
    background-color: #484848;
}

.sidebar-hamburger-menu, .sidebar-close {
    font-size: 1rem;
    padding: 2px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.sidebar-close:hover {
    background-color: #252525;
    
}

.sidebar-item-container, .sidebar-main-item-container {
    padding: 10px 10px;
    margin-top: 10px;
    display: flex;
    gap: 10px;
    width: 100%;
    border-radius: 6px;
    border: none;
    text-transform: capitalize;
}

.sidebar-item-container:hover, .sidebar-main-item-container:hover {
    background-color: #252525;
    color: #dadada;
}

.sidebar-item-container:active, .sidebar-main-item-container:active {
    background-color: #252525;
}

.sidebar-main-item-container {
    justify-content: space-between;
}

.sidebar-main-item-text {
    display: flex;
    gap: 10px;
}

.sidebar-item-container i {
    font-size: 1rem;
    color: inherit;
}

.sidebar-item-link {
    text-decoration: none;
    color: inherit;
    font-size: 0.8rem;
}

.sidebar-sub-item-container i{
    padding-left: 15px;
}